{% extends 'analysis/base.html' %}

{% block title %} Upload an Image {% endblock %}

{% block content %}

<!-- CSS for upload box -->
<style>
  #customFile .custom-file-input:lang(en)::after {
    content: "Select file...";
  }
  
  #customFile .custom-file-input:lang(en)::before {
    content: "Click me";
  }
  
  /*when a value is selected, this class removes the content */
  .custom-file-input.selected:lang(en)::after {
    content: "" !important;
  }
  
  .custom-file {
    overflow: hidden;
  }
  .custom-file-input {
    white-space: nowrap;
  }
</style>

<!-- Simple Form to accept tif(f) input files -->
<h3>Upload Form</h3>
<form enctype="multipart/form-data" method="post" class="form-group">
  {% csrf_token %} 
  <div class="input-group mb-3">
    <div class="input-group-prepend">
      <button class="btn btn-success" type="submit" id="inputGroupFileAddon03">Upload</button>
    </div>
    <div class="custom-file">
      <input type="file" class="custom-file-input" accept=".tif,.tiff" required id="id_image" name="image">
      <label class="custom-file-label" for="id_image">Select File ...</label>
    </div>
  </div>
</form>

<!-- JavaScript to show file name in upload box -->
<script>
  /* show file value after file select */
  document.querySelector('.custom-file-input').addEventListener('change',function(e){
    var fileName = document.getElementById("id_image").files[0].name;
    var nextSibling = e.target.nextElementSibling
    nextSibling.innerText = fileName
  })

</script>

{% endblock %}

